.conteiner_head {
    background-color: darkgray;
    width: auto;
    margin: auto;
    height: 50px;
}

.main {
    color: rgb(24, 18, 18);
    position: top;
    margin-left: 200px;
}

.par {
    margin-left: 300px;
    margin-right: 300px;
    width: auto;
}

.ven {
    width: 1000px;
    margin-right: 200px;
    position: right;
}

.conteiner_body {

    width: 1000px;
    margin: auto;
}

H2 {
    text-align: center
}

img {
    float: left;
    border-radius: 100%;
}

.conteiner_foot {
    background-color: rgb(53, 49, 49);
    width: auto;
    margin: auto;
    height: 50px;
}

.pravo {
    color: azure;
    margin-left: 600px;
    border-top: 6em;
}